# Compiled files
*.class
*.jar
*.war
target/

# IDE files
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# JDK folder
oracleJdk-26/

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup